<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <h3>Réservation</h3>


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="nom" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.nom) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="prenom" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.prenom) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="datedenaissance" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.datedenaissance) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="quantite" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.quantite) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.email) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input id="periodicite" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.periodicite) }}</label>
                    </div>

                    <div class="input-field col s6">
                        <i class="material-icons prefix">submit</i>
                        <input id="reserver" type="text" class="validate" >
                        <label for="icon_prefix">{{ form_row(form.Reserver) }}</label>
                    </div>


                </div>
            </form>
        </div>



        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        {% endblock %}

    </body>
</html>
