<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/reservation.css')}} " >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <h3>Formulaire de Réservation</h3><br>

        <p>Veuillez entre s'il vous plait, ci-dessous les informations concernant la personne effectuant la réservation des billets.</p> <br>


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s6">
                        {{ form_row(form.nom) }}
                    </div>

                    <div class="col s6">
                        {{ form_row(form.prenom) }}
                    </div>

                    <div class="col s6">
                        {{ form_row(form.date) }}
                        <input type="text" class="datepicker">
                    </div>

                    <div class="col s6">
                        {{ form_row(form.email) }}
                    </div>

                    <div class="col s6">
                        {{ form_row(form.quantite) }}
                        <input type="text">
                    </div>

                    <div class="col s6">
                        {{ form_row(form.periodicite) }}
                    </div>

                    <div class="col s6">
                        {{  form_row(form.Reserver) }}
                    </div>


                </div>
            </form>
        </div>



        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/core.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script>
                $('.datepicker').pickadate({
                    disable: [
                        [2017,12,18], // j'ai un probleme car il desactive en fait le 18 janvier 2018
                        new Date(2017,12,20), // pareil il me desactive le 20 janvier 2018
                        7 // me desactive bien tous les dimanches pas de soucis
                    ],
                    firstDay: 1, // le lundi est le premier jour de la semaine : jour 1 donc le dimanche est bien le 7
                    min: "today",
                    today: 'Today',
                    clear: 'Clear',
                    close: 'Ok',
                    closeOnSelect: false // Close upon selecting a date,
                });
            </script>

        {% endblock %}

    </body>
</html>

