<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}
    </head>

    <body>
        <h3>Réservation</h3>

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}})  }}
            {{ form_row(form.date) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.datedenaissance) }}
            {{ form_row(form.quantite) }}
            {{ form_row(form.email) }}
            {{ form_row(form.periodicite) }}
            {{ form_row(form.Reserver) }}
            {{ form_end (form) }}

        </div>


        {% block javascripts %}


        {% endblock %}

    </body>
</html>
