<!DOCTYPE html>
<Html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Billeterie du LOUVRE{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap-theme.min.css') }}">


        {% endblock %}
    </head>

    <body>
        <h3>Réservation</h3>

        <div class="well">
            {{ form(form) }}
        </div>


        {% block javascripts %}
            <script type="text/javascript"  src="{{ asset('dist/js/jquery-details.js') }}"></script>
            <script type="text/javascript"  src="{{ asset('dist/js/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('dist/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('dist/js/bootstrap.min.js') }}"></script>

        {% endblock %}

    </body>
</html>
